DATABASE_URL=postgresql://postgres:postgres@localhost:19371/
SECRET_KEY_BASE=f1CdeOCEXkTYh32CANNNUSmEeH1iY133A7XEi2KRCeuk7pzhBNF7lefNNiFbv4lBl4xoxH06JpO1TsKOrNJFntTI8NEBDkDnF6OR
APP_HOST=http://localhost:4000
REDIS_URI=redis://localhost:7779/1
INFLUXDB_URL=http://localhost:8086/
INFLUXDB_TOKEN=Wl-eL_t5uScN8HZOMe91Bf9uCNLn57KyVzD6_AMgpruMHXuMkViepKjYeWwfpfyO_J34u4WjN0WW6Sl4SldP4g==

ENCRYPTION_PRIMARY_KEY=Xjgb0bNLtdIrpiwKBks1K8SHhlWa8jQE
ENCRYPTION_DETERMINISTIC_KEY=hZfnakuIK5ysO9aHI0uXoFxO7VQy03JO
ENCRYPTION_KEY_DERIVATION_SALT=5A6z5FeZkYzQVaZV0zLZBPw1pXwC0sxB